extends index

block scripts
  script(src='/js/review.js')
  script var db_id = #{renderRowID}

block dashboard    
  #leftcolumn.samerow 
    table
      tr
        th Key 
        th Tag
      tr
        td b 
        td Block
      tr
        td c  
        td Clear
      tr
        td f 
        td Filter
      tr
        td 1 
        td 90°
      tr
        td 2 
        td 180°
      tr
        td 3 
        td 270°
      tr
        td j 
        td Done
  #middlecolumn.samerow
    #middletop
      p
        img(src=renderImageURL, class=[renderOrientation0,renderVisual], max-width='100%', height='500px')
    #middleleftcolumn
      p 1
      p
        img(src=renderImageURL, class=renderOrientation1, max-width='33%', height='160px')
    #middlemiddlecolumn
      p 2
      p
        img(src=renderImageURL, class=renderOrientation2, max-width='34%', height='160px')
    #middlerightcolumn
      p 3
      p
        img(src=renderImageURL, class=renderOrientation3, max-width='33%', height='160px')
    #middlebottom
      pre #{renderJSONdata}
  #rightcolumn.samerow     
    table
      tr
        th Attribute 
        th Value
      tr
        td ID 
        td #{renderRowID}
      tr
        td Blocked 
        td #{renderBlocked}
      tr
        td Filtered 
        td #{renderFiltered}
      tr
        td Hidden 
        td #{renderHidden}
      tr
        td Orientation 
        td #{renderOrientation}
      