extends index

block scripts
  script(src='/js/review.js')
  script var db_id = #{renderRowID}

block dashboard
  #status  
    .inline 
      table
        tr
          th Key 
          th Tag
        tr
          td b 
          td Block
        tr
          td c  
          td Clear
        tr
          td f 
          td Filter
        tr
          td 1 
          td 90° CW
        tr
          td 2 
          td 180° CW
        tr
          td 3 
          td 270° CW
        tr
          td j 
          td Done      
    .inline
      img.boxbig(src=renderImageURL+'image/'+renderImageID, class=[renderVisual])
    .inline
      table
        tr
          th Attribute 
          th Value
        tr
          td ID 
          td #{renderRowID}
        tr
          td Blocked 
          td #{renderBlocked}
        tr
          td Filtered 
          td #{renderFiltered}
        tr
          td Hidden 
          td #{renderHidden}
        tr
          td Orientation 
          td #{renderOrientation}
        tr 
          td Icon 
          td
            img.boxicon.rotate0(src='renderImageURL'+'icon/'+renderImageID)       
  #orientation
    P Thumbnail
    .inline
      p 0° 1 portraitUp
      p
        img.boxthumb.rotate0(src=renderImageURL+'thumb/'+renderImageID)
    .inline
      p 90° 6 landscapeRight
      p
        img.boxthumb.rotate90(src=renderImageURL+'thumb/'+renderImageID)
    .inline
      p 180° 3 landscapeLeft
      p
        img.boxthumb.rotate180(src=renderImageURL+'thumb/'+renderImageID)
    .inline
      p 270° 8 portraitDown
      p
        img.boxthumb.rotate270(src=renderImageURL+'thumb/'+renderImageID)
  #moderation 
    pre #{renderJSONdata}